body {
    font-family: montserratregular;
    position: relative;
    margin-top: 40px;
    max-width: 100%;
    overflow-x: hidden;
}

hr {
    min-width: 300px;
    max-width: 600px;
    border-top: 2px solid;
    color: #999;
}

section {
    min-height: 500px;
    padding-bottom: 20px;
    padding-top: 50px;
}

section p {
    text-indent: 30px;
    line-height: 2;
    text-align: justify;
}

section h2 {
    font-family: montserratmedium;
}

.even {
    background-color: rgba(153, 163, 250, 0.226);
}

.odd {
    background-color: rgba(12, 52, 230, 0.212);
}

/* ========================================================================== 
*    navbar
=============================================================================*/
nav {
    font-family: montserratmedium;
}

.navbar-brand {
    opacity: 0;
    transform: translate(0, -20px);
    transition: 1s;
    font-family: chunkfive-print;
    font-size: 20px;
}

.navbar-brand-show {
    opacity: 1;
    transform: translate(0, 0);
}

.page-scroll-nav {
    opacity: 0;
    transform: translate(25px,0);
    transition: 1s;
}

.page-scroll-show {
    opacity: 1;
    transform: translate(0,0);
}

/* ========================================================================== 
*    css untuk jumbotron dan home
=============================================================================*/
.jumbotron img {
    /* position: absolute;
    top: 100px;
    left: 44%; */
    width: 300px;
    border-radius: 50%;
    border: 3px solid #929292;
}

.jumbotron {
    /* background-color: rgba(0, 10, 97, 0.904); */
    background-image: url('../image/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0, -250px;
    border-radius: 0%;
    height: 650px;
    color: white;
    overflow: hidden;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 0 0 3px wheat;
}

.jumbotron h1 {
    font-family: montserratlight;
    font-size: 60px;
    font-weight: 600;
}

.jumbotron p {
    font-size: 20px;
}

/* ========================================================================== 
*    untuk bagian about
=============================================================================*/
.heading-about {
    opacity: 0;
    transform: translate(0, -150px);
    transition: 1s;
}

.heading-about-show {
    opacity: 1;
    transform: translate(0,0);
}

.about-left, .about-right {
    opacity: 0;
    transform: translate(-150px, 0);
    transition: 1s;
}

.about-right {
    transform: translate(150px, 0);
}

.about-left.p-show, .about-right.p-show {
    opacity: 1;
    transform: translate(0,0);
}

/* ========================================================================== 
*    untuk bagian experience
=============================================================================*/
.heading-exp {
    opacity: 0;
    transition: 1s;
    transform: translate(0, -80px);
}

.heading-exp-show {
    opacity: 1;
    transform: translate(0,0);
}

.vin-card{
    margin: auto;
    padding: 15px 30px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 35px;
    box-shadow: 10px 8px 10px rgb(0,0,0,0.5);
    background-color: rgba(255,255,255,0.8);
}

.vin-card h3{
    font-size: 18px;
    font-weight: 500;
    font-family: montserratmedium;
}

.vin-card p {
    text-indent: 0;
    line-height: 1.7;
}

.odd-card, .even-card {
    transition: 1s;
    transform: translate(-2000px, 0);
}

.even-card {
    transform: translate(2000px,0);
}

.show-vin-card {
    transform: translate(0,0);
}

/* ========================================================================== 
*    untuk bagian portfolio
=============================================================================*/
.card {
    min-height: 750px;
    opacity: 0;
    transform: translate(0,150px);
    transition: 1s;
}

.card.show {
    opacity: 1;
    transform: translate(0,0);
}

.heading-portfolio {
    opacity: 0;
    transform: translate(0, -150px);
    transition: 1s;
}

.heading-portfolio-show {
    opacity: 1;
    transform: translate(0,0);
}

/* =============================================================================
*   untuk bagian contact dan media
============================================================================= */
.heading-mini-project {
    opacity: 0;
    transform: translate(0, -150px);
    transition: 1s;
}

.heading-mini-project-show {
    opacity: 1;
    transform: translate(0,0);
}

.mini-left, .mini-right {
    opacity: 0;
    transform: translate(-150px, 0);
    transition: 1s;
}

.mini-right {
    transform: translate(150px, 0);
}

.mini-left-show, .mini-right-show {
    opacity: 1;
    transform: translate(0,0);
}

/* =============================================================================
*   untuk bagian contact dan media
============================================================================= */
.contact-media img {
    width: 125px;
}

.caption {
    font-size:11px;
}

section.contact-media{
    min-height: 350px;
}

.gmail {
    display: block;
}

.heading-media {
    opacity: 0;
    transform: translate(0,150px);
    transition: 1s;
}

.image-media {
    opacity: 0;
    transform: translate(80px, 0);
    transition: 1s;
}

.show-media {
    opacity: 1;
    transform: translate(0,0);
}

/* =============================================================================
*   untuk bagian footer
============================================================================= */
footer {
    background-color: black;
    left: 0;
    right: 0;
    height: 80px;
    position: absolute;
    line-height: 80px;
    color: wheat;
    font-size: 0.8em;
}

/* =============================================================================
* kustomisasi font  
=============================================================================*/
@font-face {
    font-family: 'chunkfive-print';
    src: url('../font/chunkfive-print.woff');
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../font/montserrat-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'montserratblack';
    src: url('../font/montserrat-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../font/montserrat-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat-light-webfont.woff') format('woff');
}