/* 
    #135589
    #2a93d5
    #3ddad7
    #aed9da
    #edfafd
*/

.navbar-blue,
footer {
  background-color: #135589;
}

.banner {
  padding-top: 6rem;
  background-color: #aed9da;
  /* background-color: #edfafd; */
}

.banner-profile-picture {
  width: 200px;
}

.section-light {
  background-color: #edfafd;
}
